@tailwind base;
@tailwind components;
@tailwind utilities;





.btns{
    text-align: center;
}

.panel{
   width: 90%;
   margin: auto;
   border-radius: 25px;
   height: 455px;
}
.panelchild{
    border-radius: 25px;
   
}
.title{
  font-family: 'Dancing Script', cursive;
}
.textarea{
    border: solid 20px transparent; 
    font-size: 15px;
   
}


/* daisyui */
:root {
    --my-color: #fff;
    /* or any other variables/style */
  }
  [data-theme='dark'] {
    --my-color: #000;
  }
  [data-theme='pink'] {
    --my-color: #ffabc8;
  }


  html {
    background-color: var(--my-color);
  }
